/* Common Utilities */
/* font */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 30px ;
    margin-bottom: 21px;

}
hr{
    border: 1px solid #D1D1D1;
    margin-top: 30px;
    margin-bottom: 30px;
}
/*--------------------
    Top Player 
---------------------*/

.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
    margin-bottom: 30px;
}
.top-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    
    
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}


/*--------------------
    Top Blogs Style 
---------------------*/
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 70px;
}
.blog-details{
    display: flex;
    align-items: flex-end;
}

.blog-banner img{
    width: 177px;
    height: 117px;
}
.blog-title{
    margin-left: 25px;
}
.blog-title h3{
    font-size: 20px;
    color: #000000;
}
.blog-title p{
    font-size: 16px;
    color: #9F9F9F;
}
.blog-title a{
    color: #562EFF;
    text-decoration: none;
}

/*--------------------
    Courses Style
---------------------*/

.courses{
    display: flex;
    justify-content: space-between;
}
.course{
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
    /* width: 252px;
    height: 280px; */
    padding: 13px 13px 16px 13px;
    border-radius: 5px;
}
.course-banner img{
    /* width: 224px;
    height: 104px; */
    width: 100%;
    margin-left: 3px;
}
.course-details{
    margin-left: 3px;
}
.course-details h3{
    color: #1E1E1E;
    line-height: 13px;
    font-size: 20px;
}
.course-details a{
    text-decoration: none;
    color: #ED6B4F;
}
.course-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-star.rating{
    color:  #FFC014;
}
.course-duration{
    background-color: #FFE4E8;
    color: #FF4A60;
    border-radius: 14.69px;
    padding: 7px 10px 5px 10px;
}

/*--------------------
    Media Querry
---------------------*/
@media only screen and (max-width: 688px) {
    .container{
        width: 100%;
        margin-left: 15px;
        margin-right: 15px;
    }

    .top-players, .blogs, .courses{
        display: grid;
        grid-template-columns: repeat( 1, 1fr);
    }
    /* .blog-banner img {
        width: 100%;
    } */
    .blog-title h3{
        font-size: 16px;
    }
    
    /* .blog-details{
        flex-direction: column;
        align-items: center;
    
    } */


}
@media only screen and (min-width: 689px) and (max-width: 992px) {
    .container{
        width: 100%;
    }
    .top-players, .courses {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .blogs{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    
    
}